@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tagesschrift", system-ui;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eef2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 320px;
}

h2 {
  text-align: center;
  color: #9c386a;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #9c386a;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #6e2349;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  display: none;
}
